<!DOCTYPE html> 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AfterSchoolLessons</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="manifest" href="afterclass.webmanifest"> 
    <!-- <script src="bookstore.js"></script> -->

</head>

<body>
    <div id="app">
        <header>
            <a href="#" class="logo" @click.prevent="goHome">Home</a>
            <h1 v-text="sitename"></h1>

            <div>
                <label for="search">Search:</label>
                <input type="text" v-model="searchQuery" placeholder="Search by subject or location..." @input="filterBooks" />
            </div>

            <button v-on:click="showCheckout" :disabled="cart.length === 0">
                {{ cart.length }} <span class="bi bi-cart"></span> Checkout
            </button>

        </header>

        <main>

            <div>
                <label for="sortBy">Sort By:</label>
                <select v-model="sortBy" @change="sortBooks">
                    <option value="subject">Subject</option>
                    <option value="Location">Location</option>
                    <option value="Price">Price</option>
                    <option value="Spaces">Availability (Spaces)</option>
                </select>
                <select v-model="sortOrder" @change="sortBooks">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>

            <div v-if="showBook" class="grid-container">
                <div v-for="book in filteredBooks" :key="book.subject" class="card">
                    <figure>
                        <img v-bind:src="book.image" alt="book image">
                    </figure>
                    <h2 v-text="book.subject"></h2>
                    <p>Location: {{ book.Location }}</p>
                    <p>Price: ${{ book.Price }} </p>
                    <P>Spaces: {{ book.Spaces - cartCount(book.subject, book.Location) }}</P>
                    <button v-on:click="addToCart(book)" v-if="canAddToCart(book)">
                        Add to cart
                    </button>
                    <button disabled v-else>
                        Add to cart
                    </button>
                    <span v-if="book.Spaces === cartCount(book.subject, book.Location)">
                        Sorry, this item is SOLD OUT!
                    </span>
                    <span v-else-if="book.Spaces - cartCount(book.subject, book.Location) < 5">
                        Only {{ book.Spaces - cartCount(book.subject, book.Location) }} left!
                    </span>
                    <span v-else>Buy now!</span>
                    <div>
                        <span v-for="n in book.rating">★</span>
                        <span v-for="n in 5 - book.rating">☆</span>
                    </div>
                </div>
            </div>

            <div v-else>
                <h2>Checkout</h2>
                <div v-if="cart.length > 0" class="grid-container">
                    <div v-for="(subject, index) in addedSubjects" :key="index">
                        <div v-if="firstBookPicker(subject)" :key="firstBookPicker(subject).subject" class="card">
                            <figure>
                                <img class="card-img" v-bind:src=" firstBookPicker(subject).image" width="200" height="200">
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title">{{ subject }}</h5>
                                <p>Location: {{ firstBookPicker(subject).Location }}</p>
                                <p>Price: ${{ firstBookPicker(subject).Price }}</p>
                                <p>Spaces: {{ uniqueBookCount(subject) }}</p>
                                <button class="btn btn-danger" @click="removeFromCart(subject)">Remove</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="card">
                    <h3>Total Price:${{ totalPrice }} </h3>
                </div>
                
                <p><strong>First Name:</strong> <input v-model.trim="order.firstName" @input="validateField('firstName')" />
                    <span v-if="errors.firstName" class="error">{{ errors.firstName }}</span>
                </p>
                <p><strong>Last Name:</strong> <input v-model.trim="order.lastName" @input="validateField('lastName')" />
                    <span v-if="errors.lastName" class="error">{{ errors.lastName }}</span>
                </p>
                <p><strong>Phone Number:</strong> <input v-model.number.trim="order.phoneNumber" @input="validateField('phoneNumber')" />
                    <span v-if="errors.phoneNumber" class="error">{{ errors.phoneNumber }}</span>
                </p>
                <p><strong>Address:</strong> <input v-model.trim="order.address" @input="validateField('address')" />
                    <span v-if="errors.address" class="error">{{ errors.address }}</span>
                </p>
                <p><strong>City:</strong> <input v-model.trim="order.city" @input="validateField('city')" />
                    <span v-if="errors.city" class="error">{{ errors.city }}</span>
                </p>
                <p><strong>Emirate:</strong>
                    <select v-model="order.emirate" @change="validateField('emirate')">
                        <option disabled value="">Emirate</option>
                        <option v-for="(emirate, key) in emirates" :value="emirate">{{ key }}</option>
                    </select>
                    <span v-if="errors.emirate" class="error">{{ errors.emirate }}</span>
                </p>
                <p><strong>Zip/Postal Code:</strong> <input v-model.number.trim="order.zip" @input="validateField('zip')" />
                    <span v-if="errors.zip" class="error">{{ errors.zip }}</span>
                </p>
                <p><input type="checkbox" id="gift" v-model="order.gift">
                    <label for="gift">Ship As Gift?</label>
                </p>
                <p>
                    <input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label>
                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p>

                <button v-on:click="submitForm" :disabled="cart.length === 0 || hasErrors" class="btn btn-primary">
                    Place Order
                </button>

                <div v-if="cart.length > 0" class="order-info">
                    <h3>Order Information</h3>
                    <p><strong>First Name:</strong> {{ order.firstName }}</p>
                    <p><strong>Last Name:</strong> {{ order.lastName }}</p>
                    <p><strong>Phone Number:</strong> {{ order.phoneNumber }}</p>
                    <p><strong>Address:</strong> {{ order.address }}</p>
                    <p><strong>City:</strong> {{ order.city }}</p>
                    <p><strong>Emirate:</strong> {{ order.emirate }}</p>
                    <p><strong>Zip/Postal Code:</strong> {{ order.zip }}</p>
                    <p><strong>Delivery Method:</strong> {{ order.method }}</p>
                    <p><strong>Ship As Gift:</strong> {{ order.gift ? "Yes" : "No" }}</p>
                </div>
                
            </div>
        </main>
    </div>
    <script src="bookstore.js"></script>
    <script>
        let webstore = new Vue({
            el: '#app',
            data: {
                sitename: "After School Lessons",
                showBook: true,
                searchQuery: "",
                // filteredBooks: bookstore,
                filteredBooks: [],
                //from now on we should get the data from db not from js file; we have to use fetch in the frontend to get the data from backend URL
                order: {
                    lessons:{},
                    firstName: "",
                    lastName: "",
                    phoneNumber: "",
                    address: "",
                    city: "",
                    zip: "",
                    emirate: "",
                    method: 'Home',
                    gift: false,
                },
                errors: {},
                emirates: {
                    DU: 'Dubai',
                    SJ: 'Sharjah',
                    AD: 'Abu Dhabi',
                },
                // bookstore: ,bookstore
                bookstore: [],
                cart: [],
                sortBy: 'subject',
                sortOrder: 'asc',
                addedSubjects: [],
                bookData: []
            },

            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                totalPrice() {
                    return this.cart.reduce((sum, item) => sum + item.Price, 0).toFixed(2);
                },
                hasErrors() {
                    return Object.keys(this.errors).length > 0;
                }
            },
            created: function() { // this function will be run automatically  
                    // when creating the Vue instance 
                    this.fetchBooks()
                    this.fetchCart()
            },

            methods: {

                fetchBooks(){
                    fetch('https://cw1-backend-k8gt.onrender.com/collection/lessons')
                    .then((response) => response.json())
                    .then((data) => {
                        this.bookstore = data;
                        this.filteredBooks = data;
                        // console.log(data);
              })
              .catch((error) => console.error('Error fetching lessons:', error));
            },
            async fetchCart() {
                await fetch('https://cw1-backend-k8gt.onrender.com/collection/cart')
                    .then((response) => response.json())
                    .then((data) => {
                        this.cart = [];
                        this.cart = data;
                        // console.log(this.cart);
                        this.checkSubjects();
                    })
                    .catch((error) => console.error('Error fetching cart:', error));
            },
            async saveCart() {

                await fetch('https://cw1-backend-k8gt.onrender.com/reset/cart');

                this.cart.forEach(async item => {

                    console.log(JSON.stringify(item));

                    await fetch('https://cw1-backend-k8gt.onrender.com/collection/cart', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        "image" : item.image,
                        "subject" : item.subject,
                        "Location" : item.Location,
                        "Price" : item.Price,
                        "Spaces" : item.Spaces,
                        "rating" : item.rating,
                    }),
                    })
                    .then((response) => response.json())
                    .then((result) => console.log('Cart updated:', result))
                    .catch((error) => console.error('Error saving cart:', error));
                    
                });
               
            },

                addToCart (book) {

                    if(this.bookData.find( bk => bk.subject === book.subject)){

                        let data = this.bookData.filter( bk => bk.subject === book.subject);
                        const count = this.bookData.find( bk => bk.subject === book.subject).Spaces;
                        data.splice(0, 1);
                        data.push({
                        'subject': book.subject,
                        'Location': book.Location,
                        'Price': book.Price,
                        'Spaces': count + 1,
                        });

                        this.bookData = this.bookData.filter( bk => bk.subject !== book.subject);
                        this.bookData = this.bookData.concat(data);
                    } else {
                        
                            this.bookData.push({
                            'subject': book.subject,
                            'Location': book.Location,
                            'Price': book.Price,
                            'Spaces': 1,
                        });
                    }
                    this.cart.push(book);
                    this.saveCart();
                    this.checkSubjects();

                },
                removeFromCart(subject) {
                let subjectBooks = this.cart.filter((book) => book.subject === subject);
                subjectBooks.splice(0, 1);
                this.cart = this.cart.filter((book) => book.subject !== subject);
                this.cart = this.cart.concat(subjectBooks);
                this.saveCart();
                },

                checkSubjects(){
                    var data = new Set(this.cart.map(book => book.subject));
                    this.addedSubjects = Array.from(data);
                },

                firstBookPicker(subject){
                    return this.cart.find( book => book.subject === subject);
                },
                uniqueBookCount(subject){
                    return this.cart.filter( book => book.subject === subject).length;
                },
              
                showCheckout() {
                    this.showBook = !this.showBook;
                },
                async submitForm () {
                    // save info to database orders collection
                    this.order.lessons = this.cart;

                    const headers = new Headers();
                    headers.append("Content-Type", "application/json");

                    fetch("https://cw1-backend-k8gt.onrender.com/collection/orders/", {
                        method: "POST",
                        headers: headers,
                        body:  JSON.stringify(this.order),
                    })
                    .then((response) => response.text())
                    .then((result) => console.log(result))
                    .catch((error) => console.error(error));

                    if (!this.hasErrors) {
                        alert('Order submitted successfully!');
                        window.location.href ='index.html';
                    } else {
                        alert('Please fix the errors before submitting.');
                    }

                },
                canAddToCart(book) {
                    return book.Spaces > this.cartCount(book.subject, book.Location);
                },
                cartCount(subject, Location) {
                    return this.cart.filter(item => item.subject === subject && item.Location === Location).length;
                },
               
                goHome() {
                    this.showBook = true;
                },
                sortBooks() {
                    const orderMultiplier = this.sortOrder === 'asc' ? 1 : -1;
                    this.filteredBooks.sort((a, b) => {
                        if (a[this.sortBy] < b[this.sortBy]) return -1 * orderMultiplier;
                        if (a[this.sortBy] > b[this.sortBy]) return 1 * orderMultiplier;
                        return 0;
                    });
                },
                filterBooks() {
                    const query = this.searchQuery.toLowerCase();
                    this.filteredBooks = this.bookstore.filter(book =>
                        book.subject.toLowerCase().includes(query) ||
                        book.Location.toLowerCase().includes(query)
                    );
                },
                validateField(field) {
                    switch (field) {
                        case 'firstName':
                            this.errors.firstName = !this.order.firstName ? 'First Name is required.' : '';
                            break;
                        case 'lastName':
                            this.errors.lastName = !this.order.lastName ? 'Last Name is required.' : '';
                            break;
                        case 'phoneNumber':
                            this.errors.phoneNumber = !this.order.phoneNumber || isNaN(this.order.phoneNumber) ? 'Valid Phone Number is required.' : '';
                            break;
                        case 'address':
                            this.errors.address = !this.order.address ? 'Address is required.' : '';
                            break;
                        case 'city':
                            this.errors.city = !this.order.city ? 'City is required.' : '';
                            break;
                        case 'emirate':
                            this.errors.emirate = !this.order.emirate ? 'Please select an emirate.' : '';
                            break;
                        case 'zip':
                            this.errors.zip = !this.order.zip || isNaN(this.order.zip) ? 'Valid Zip/Postal Code is required.' : '';
                            break;
                        default:
                            break;
                    }
                }
            },
        });
    </script>
</body>

</html>





